
body{
    background-color: aquamarine;
}
.container {
    margin-bottom:  45px ;
    margin-top: 45px;
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    background-color:  aquamarine;
    justify-content: space-between;
}

h1 {
    background-color: rgb(58, 190, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    
    color: aliceblue;
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
} 
.container .container1{
    background-color: rgb(110, 245, 110);
    height: 550px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .container10 {
    display: flex;
justify-content: center;
    width: 75%;
    height:550px;
    background-color: orange;
    margin-left: 45px;
  }

*{
    margin: 0px;
    padding: 0px;
}
.container20 > div {
    background-color: rgb(226, 226, 42);
    margin: 15px;
    padding: 30px ;
    font-size: 10px;
 }
  .article{
   
    color: aliceblue;
    font-size: 40px;
    display: flex;
    position: absolute;
    margin-top: 250px;
    justify-content: center;
    align-items: center;
  }
  .cont{
    background-color: orange;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 20px;
    align-items: end;

  }
  .contA {
    display: flex;
    background-color: rgb(227, 227, 28);
    height: 210px;
    width: 200px;
    align-items: center;
    color: aliceblue;
    font-size: 40px;
    justify-content: center;
  }
  .contB {
    display: flex;
    background-color: rgb(227, 227, 28);
    height: 210px;
    width: 200px;
    align-items: center;
    color: aliceblue;
    font-size: 40px;
    justify-content: center;
  }
  .contC {
    display: flex;
    background-color: rgb(227, 227, 28);
    height: 210px;
    color: aliceblue;
    font-size: 40px;
    width: 200px;
    align-items: center;
    justify-content: center;
  }
  .aside{
    color: aliceblue;
    font-size: 40px ;
  }