body{
    background-color: aquamarine;
}
h1{
    background-color: rgb(58, 190, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: aliceblue;
    
    
}

.container{
    width: 100%;
   background-color:  aquamarine;
    display: flex;

    
}
.container .container1{
    background-color: rgb(110, 245, 110);
    height: 450px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .container2{
    background-color: orange;
    margin-left: 40px;
    display: flex;
    height: 450px;
    width: 65%;
    justify-content: center;
    align-items: center;
    color: aliceblue;

} */
.container .container10 {
    display: flex;
    margin-right: 30px;
    width: 75%;
    height:450px;
    background-color: orange;
    margin-left: 35px;
  }
  
  .container10 > div {
    background-color: rgb(226, 226, 42);;
    margin: 15px;
    padding: 30px ;
    font-size: 10px;
  }
 