body{
    background-color: antiquewhite;
}
.container {
    width: 600px;
    height: 700px;
    background-color: white;
    margin-top: 15px;
    margin-left: 600px;
}
.header{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-left: 200px;
    
}
.header h1{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    
    
}
.header h2{
    display: flex;
    font-size: 10px;
    justify-content: center;
    
}


.h2{

}